---
import { marked } from "marked";
import Layout from "../layouts/Layout.astro";
import {
  ContentResource,
  OpenAPI,
  type HomeContentModel,
  type BlogContentModel,
} from "@/api";

OpenAPI.BASE = "http://localhost:36865";
const nodes = await ContentResource.getContent20({
  filter: ["contentType:home"],
});
const node: HomeContentModel = nodes.items[0];

const { pageTitle, pageContentRte } = node.properties;

const blogPosts = await ContentResource.getContent20({
  filter: ["contentType:blog"],
});
---

<Layout title={pageTitle}>
  <h1>{pageTitle}</h1>
  <div set:html={marked.parse(pageContentRte?.markup)} />

  <h2>Blogs</h2>
  {
    blogPosts?.items?.map((blog: BlogContentModel) => (
      <article>
        <h3>{blog.properties?.pageTitle}</h3>
        <time>
          {new Date(blog.properties?.publishedDate).toLocaleDateString(
            "en-gb",
            {
              year: "numeric",
              month: "short",
              day: "numeric",
            },
          )}
        </time>
        <div set:html={marked.parse(blog.properties?.pageContentRte?.markup)} />
      </article>
    ))
  }
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
